.card {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center;
    color: white;
}

.card h3{
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 24px;
    line-height: 29.76px;
}

.card p {
    font-family: "Unbounded";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}

.card img {
    margin-bottom: 15px;
}

